/* Fonts */
/*
@font-face {
  font-family: 'itau-text';
  src: url('../fonts/ItauText_Rg.eot');
  src: url('../fonts/ItauText_Rg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ItauText_Rg.woff2') format('woff2'),
       url('../fonts/ItauText_Rg.woff') format('woff'),
       url('../fonts/ItauText_Rg.ttf') format('truetype'),
       url('../fonts/ItauText_Rg.svg#proxima_nova_rg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'itau-text-bold';
  src: url('../fonts/ItauText_Bd.eot');
  src: url('../fonts/ItauText_Bd.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ItauText_Bd.woff2') format('woff2'),
       url('../fonts/ItauText_Bd.woff') format('woff'),
       url('../fonts/ItauText_Bd.ttf') format('truetype'),
       url('../fonts/ItauText_Bd.svg#proxima_nova_rg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'itau-text-light';
  src: url('../fonts/ItauText_Lt.eot');
  src: url('../fonts/ItauText_Lt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ItauText_Lt.woff2') format('woff2'),
       url('../fonts/ItauText_Lt.woff') format('woff'),
       url('../fonts/ItauText_Lt.ttf') format('truetype'),
       url('../fonts/ItauText_Lt.svg#proxima_nova_rg') format('svg');
  font-weight: normal;
  font-style: normal;
} */

/* General */

* {

/* Variables 
/* Using: var(--cor-bg-principal); */ 
  --dark: #000;
  --light: #FFF;
}

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    background-color: var(--dark);
}

h1 {
  font-family: helvetica;
  font-size: 36px;
  color: var(--light);
  padding: 30px 16px;
  letter-spacing: -0.5px;
}